@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282A36;
  color: #BD93F9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu-item {
  margin: 10px;
}

.page-layout {
  max-width: 50%;
  margin: auto;
}

.post {
  border: 1px #bd93f932 solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #2D2C3D;
}

hr {
  border-top: 1px solid #BD93F9;
}